<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/menus/add" method="POST">
    Food_Name:<br>
    <input type="text" name="food_name" placeholder="Input Dish">
    <br>
    Drink_Name:<br>
    <input type="text" name="drink_name" placeholder="Input Beverages">
    <br>
    Price:<br>
    <input type="integer" name="price" placeholder="Input Price">
    <br><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>