<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
        <% users.forEach(list=>{ %>
      <tr>
          <td><%= list.id %></td>
          <td><%= list.username %></td>
          <td><%= list.password %></td>
      </tr>  
        <% }) %>
    </table>
  </body>
</html>
