<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <style>
        .wrapper {
            min-height: 350px;
            width: 900px;
            margin: auto;
            border:1px dashed black;
        }
        .resto {
            min-height: 350px;
            width: 298px;
            background-color: Red;
            border:1px white dashed;
            float: left;
        }
    </style>

    <div class="wrapper">
        <p>Kepala</p>
        <div class="resto"><p>1</p></div>
        <div class="resto"><p>2</p></div>
        <div class="resto"><p>3</p></div>
        <div class="resto"><p>4</p></div>
        <div class="resto"><p>5</p></div>
        <div class="resto"><p>6</p></div>
    
    </div>
</body>
</html>